@media only screen and (min-width: 35em) {


    header {
        background-color:#DE8F6E;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        max-height: 200px;
    }

    .logo-box{
        width: auto;
        height: 200px;
    }

    .headings h1 {
        font-size: 2rem;
        align-self: center;
    }

    .motto {
        letter-spacing: 1.5pt;
        font-size: larger;
        margin-left: 20px;
    }

    button {
        display: none;
    }

    nav ul.hide,
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding: .8rem 1rem;
    }

    nav ul {
        margin-left: 2%;
    }

    h1 {
        font-size: 60px;
        color: #2D93AD;
        text-align: center;
      }
    
      .section-wrap--md {
        padding: 170px 0;
    }
    .section-wrap {
        padding: 120px 0;
        overflow: hidden;
    }
    
    .bg-light {
        background-color: #DBD76E;
        ;
    }
    .call-to-action__title {
        font-size: 30px;
        text-transform: uppercase;
    }

    .btn {
        font-family: "Arimo font", sans-serif;
        font-weight: 700;
        overflow: hidden;
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        letter-spacing: 0.14em;
        border-radius: 3px;
        border: none;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        color: #fff;
        background-color: #121212;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: relative;
        z-index: 1;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .btn-lg, .btn-lg.btn-button {
        font-size: 13px;
        padding: 0 34px;
        line-height: 46px;
    }
    
    .btn-color {
        background-color: #88AB75;
    }
    
    
    .info_blocks:nth-child(even) img{
        display: block;
        grid-column: 1;
    }
    
    .info_blocks:nth-child(even) p{
        grid-column: 3;
    }
    
    .info_blocks:nth-child(even) h2{
        grid-column: 3;
    }
    
    .info_blocks:nth-child(even) motto{
        grid-column: 3;
    }
    
    .info_blocks img {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 6;
        width: 400px;
    }
    
    .info_blocks p {
        grid-column-start: 1;
        margin: 2px;
    }
    .summary {
        position: absolute;
        top: 50px;
        left: 10px;
        background-color: #F0F8FF;
        border: 1px solid #ccc;
        padding: .5rem;
        box-shadow: 0 0 30px #777777;
        opacity: .8;


    }
    .col-head,
    .forecast {
        font-size: 25px;
    }

    .column {
        padding: 5px;
        border: none;
    }

    .info {
        display: flex;

    }

    .sunshine {
        max-width: 20%;
        height: auto;
        float: right;
        margin: 0 10px 10px 0;

    }

    .data {
        font-size: 20px;
    }



    .firstcontent {
        background-color: #7D7C84;
        position: relative;
        width: 460px;
        height: 230px;
    }



    .four {
        display: flex;
        flex-direction: row-reverse;
        align-content: center;
        justify-content: space-evenly;
    }

    .contactInfo {
        text-align: center;
        margin-top:75px;
    }

    .socialIcon {
        max-width: 50px;
    }

    .map {
        max-width: 25%;
    }

    footer {
        display: flex;
        justify-content: space-evenly;
        font-size: 1rem;
    }
}    