@media only screen and (min-width: 500px) {
    header img {
        width: 100%;

    }

    header {
        background-color: #DE8F6E;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }

    .headings h1 {
        font-size: 2rem;
        align-self: center;
    }

    .motto {
        letter-spacing: 1.5pt;
        font-size: larger;
        margin-left: 17px;
    }

    button {
        display: none;
    }

    nav ul.hide,
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding: .8rem 1rem;
    }

    nav ul {
        margin-left: 2%;
    }

    .button {
        margin: 1rem;
      position: absolute;
      top: 45%;
      left: 30%;
    }

    .mycontent {
        max-width: 85%;
        min-height: 100px;
        text-align: left;
        margin: 0 auto;
    }
    
    .mycontent h1 {
        margin: 0px;
    }

    .mycontent h2 {
        margin: 0px;
    }
    
    .hero-container {
        position: relative;
        margin: 10px auto 5px;
    }

    .main-forecast {
        max-width: 40%;
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: #DE8F6E;
        border: 1px solid black;
        padding: 10px;
        box-shadow: 0 0 30px #111;
        opacity: .8;
        padding-top: -10px;
    }

    .forecast-container {
        max-height: 50%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px,1fr));
        gap: 2px;
    }
    .mycontent {
        min-height: 50px;
        text-align: left;
        margin: auto;
        padding: 10px;
 
    }
    
    .inputarea {
        vertical-align: baseline;
        align-content: center;
        max-width: 700px;
        padding: 10px;
        margin: 15px auto;
        border: solid #7D7C84 8px;
        border-radius: 5px;
        display: grid;
        font-weight: bold;
    }

    .information {
        vertical-align: text-top;
        padding-top: 100px;
    }

    .contact-map {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
    }

    .contact-info {
        grid-column: 1;
        grid-row: 1;
        text-align: left;
    }

    .map {
        grid-column: 2;
        grid-row: 1;
    }

    .map-responsive {
        border: 1px solid grey;
        height: 100%;
    }    

    .socialIcon {
        max-width: 50px;
    }


    footer {
        display: flex;
        justify-content: space-around;
    }


}    