html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #F0F8FF;
    padding: 0;
    margin: 0;


}

header {
    background-color: #DE8F6E;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

header img {
    width: 100px;
    height: auto;
    margin-right: 40px;
    display: 50%;
}


.headings h1 {
    font-size: 1rem;
    margin: 0 auto;
    color: black;
    font-family: 'Biryani', sans-serif;
}

h2,
h3 {
    font-family: 'Bitter', sans-serif;
}

.motto {
    font-style: italic;
    letter-spacing: 1pt;
    color: black;
    margin-right: auto;
    font-size: .8rem;
    text-align: center;
}

.logo-box{
    display: 50%;
}

button {
    margin: auto;
    margin-right: 40px;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
}

nav {

    background-color: #F0F8FF;
    font-family: 'Bitter', sans-serif;
}

nav ul {

    list-style-type: none;
    padding: 0;
    margin: 0;

}


nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
    border-top: 1px solid rgba(0, 0, 0, .3);
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

nav ul.hide {
    display: none;
}

.content {

    padding: 25px;
}

.hero-container {
    position: static;
}

.hero-container picture {
    width: 100%;
    margin: 0;
    padding: 0;
}

.hero-container picture img {
    width: 100%;
    display: block;
}

.main-forecast {    
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid gray;
    margin: 0;
    background-color: #DE8F6E;
    text-align: center;
}

.main-forecast h3 {    
    margin-bottom: 5px; 
}

.current-condition {
    margin-top: 5px; 
    margin-bottom: 5px; 
}

.weather-point {
    font-family: 'Patua One', cursive;
    font-weight: bold;
    color:  #1d3557ff;
}

.weather-alert {
    font-family: 'Patua One', cursive;
    font-weight: bold;
    color: yellow;
    background-color: red;
}

.forecast-container {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px,1fr));
    gap: 2px;
}

.forecast {
    background-color: white;
    text-align: center;
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 5px;
}

.forecast-container img {
    max-width: 100%;
    max-height: 75px;
    display: block;
    margin: 0 auto;
}

.button {
    margin: 1rem;
  position: absolute;
  top: 40%;
}

.rental-info {
    text-align: center;
}

.rental-info h2 {
    font-size: 2rem;
    
    border-bottom:2px solid #88AB75;
    padding-bottom:3px;
}

.rental-info ul { 
    padding: 0 0 0 20px; 
    margin: 0; 
    list-style: none;
}

.rental-info ul li { 
    margin: 0; 
    padding: 0.5em; 
}

#title {
    border-bottom:2px solid #88AB75;
}


.mycontent {
    min-height: 100px;
    text-align: left;
    margin: auto;
    padding: 10px;
}

.inputarea {
    align-content: center;
    max-width: 700px;
    padding: 10px;
    margin: 15px auto;
    border: solid #7D7C84 8px;
    border-radius: 5px;
    display: grid;
    font-weight: bold;
}

.information {
    float: left;
    vertical-align: middle;
    padding-top: 100px;
}
.information h2 {
    color: #2D93AD;
    font-weight: bold;
    margin-left: 100px;
}

,.firstcontent {
    background-color: #7D7C84;
}

.firstcontent h1 {
    color: #2D93AD;
    margin-top: 20px;
    margin-bottom: 50px;
}

.firstcontent h2 {
    color: #88AB75;
    text-align: center;
    font-size: 2em;
}

.firstcontent p {
    text-align: center;
    padding-right: 5rem;
    padding-left: 5rem;
}

.firstcontent img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 8px;
}

.contact-map {
    background-color: var(--secondary-background-color);
    box-sizing: border-box;
    padding: 10px 0 0 0;
    border: 1px solid gray;
    margin: 10px auto;
}

.social-media {
    margin-top: 20px;
}

.social-media a {
    margin: 5px;    
}

.map-responsive{
    display: block;
    margin: 0;
    box-sizing: border-box;
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    box-sizing: border-box;
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    border: none; 
}

.contact-info h3 {
    font-size: 2.5rem;
}
.contact-info h4, h5 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.contact-info {
    margin: 10px;
    padding: 0 0 10px 0;
    color: #114B5F;
    text-align: center;    
}

.contact-info p {
    padding: 5px;
    justify-content: center;
    font-size: 1em;
}


.footer-social-icons {
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer-social-icons img {
    width: 24px;
    height: 24px;
    margin-left: 5px;
    margin-right: 5px;    
}



footer {
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
    background-color: #2D93AD;
    padding: 15px;
}
