html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #F0F8FF;
    padding: 0;
    margin: 0;


}

header {
    background-color: #6495ED;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

header img {
    width: 100px;
    height: auto;
    margin-right: 40px;
    display: 50%;
}


.headings h1 {
    font-size: 1rem;
    margin: 0 auto;
    color: black;
    font-family: 'Biryani', sans-serif;
}

h2,
h3 {
    font-family: 'Bitter', sans-serif;
}

.motto {
    font-style: italic;
    letter-spacing: 1pt;
    color: black;
    margin-right: auto;
    font-size: .8rem;
    text-align: center;
}

.logo-box{
    display: 50%;
}

button {
    margin: auto;
    margin-right: 40px;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
}

nav {

    background-color: #F0F8FF;
    font-family: 'Bitter', sans-serif;
}

nav ul {

    list-style-type: none;
    padding: 0;
    margin: 0;

}


nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
    border-top: 1px solid rgba(0, 0, 0, .3);
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

nav ul.hide {
    display: none;
}

.content {

    padding: 25px;
}

.preston{
    text-align: center;
}
.mycontent {
    min-height: 100px;
    text-align: left;
    margin: 0 auto;
    padding: 10px;
}

.inputarea {
    align-content: center;
    max-width: 700px;
    padding: 10px;
    margin: 15px auto;
    border: solid #FFD700 2px;
    border-radius: 5px;
    display: grid;
    font-weight: bold;
}

.inputarea * {
    margin: 5px;
}

.inputarea :nth-child(1) {
    text-align: center;
    text-decoration: underline;
}

.inputarea:nth-child(1) input {
    padding: 5px;
    border-color: #FFD700;
}

.inputarea:nth-child(2) input {
    border-color: #FFD700;
}

.inputarea:nth-child(2) :nth-child(10), :nth-child(9), :nth-child(8) {
    margin-top: 0;
}

.inputarea:nth-child(2) :nth-child(11) {
    display: grid;
}

.inputarea:nth-child(2) :nth-child(11) :nth-child(1) {
    min-height: 100px;
    margin: 0;
}

.inputarea:nth-child(2) :nth-child(12) {
    margin-top: 10px;
    justify-self: center;
    max-width: 100px;
}

.flexly {
    display: flex;
    align-items: center;
}

#ratingvalue {
    margin: 1 15px;
}

.subcontent {
    position: relative;
    margin: 0px 0px 15px 0px;
    overflow: hidden;
}

.heroCon {
    position: relative;
    margin: 10px auto;

}

#pancakebanner {
    display: none;
    max-width: 100%;
    background-color: #6495ED;
    opacity: 1;
    text-align: center;
    font-family: 'Bitter', sans-serif;
    font-size: 15px;
    color: black;
    font-weight: bolder;
    padding: 10px;

}

p {
    font-family: 'Bitter', sans-serif;

}

main figure.firstimg {
    max-width: 760px;
    margin: auto;

}

main figure.firstimg img {
    width: 100%;
}

.summary {
    display: block;
    top: 25px;
    left: 10px;
    background-color: #F0F8FF;
    border: 1px solid #ccc;
    padding: .5rem;
    box-shadow: 0 0 30px #777777;
    opacity: .8;
    text-align: center;


}

#title {
    border-bottom: 2px solid black;
}

.banner {
    margin: auto;
    width: 100%;
    border: 2px solid black;

}

img{
    display:block;
    max-width: 100%;
    margin:auto;
}

.column {
    border-right: 1px solid black;
}

.weatherCol {
    column-count: 5;
    column-gap: 0;

}

.col-head {
    display: block;
    padding: 5px;
    border-bottom: 1px solid #333;
    text-align: center;
    background-color: white;
    color: black;
    font-size: 1rem;
}

.data {
    display: block;
    padding: 0 5px 5px;
    text-align: center;
    font-size: .5rem;


}

.weatherIcon {
    max-width: 60px;
}



.three {
    border: 3px solid #FFD700;
    text-align: center;
}

.forecast {
    background-color: #6495ED;
    padding: 20px;
    text-align: center;
}
.sunshine {
    display: block;
    max-width: 100%;
    padding: 10px;

}

.four {
    border: 3px solid black;
    display: block;
    padding: 20px;
}

.socialIcon {
    max-width: 20px;
    display:inline;
}

.map {
    max-width: 100%;

}

footer {
    display: block;
    
    background-color: #6495ED;
    padding: 15px;
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    color:white;
}


#content{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:25px 5px;
    padding:5px;
}
figure{
    max-width: 100%;
}
figure img[data-src]{
    filter: blur(0.2em);
    }
    
  figure img{
        filter: blur(0em);
        transition: filter 0.5s;
        max-width: 300px;
        margin: 0 auto;
        height:300px;
    }

figcaption{
    visibility: hidden;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.website_intro {
    margin: auto;
    padding: 80px;
    font-family: 'Ariel Nova', sans-serif;
}

info_blocks {
    background-color: white;
    align-items: center;
    text-align: center;
    max-width: 660px;
    margin: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}


info_blocks img {
    width: 300px;
    height: auto;
    justify-content: center;
    margin: auto;
}

info_blocks p {
    grid-column-start: 1;
    margin: 2px;
}

div.town_info {
    margin: auto;
    padding: 20px;
    justify-content: center;
    background-color: #b96646;
    display: grid;
    grid-template-rows: 1fr;
}


motto {
    margin-bottom: 20px;
    font-style: italic;
    color: #b96646;
    font-weight: bold;
    grid-column-start: 1;
    grid-row-start: 2;
}

name {
    font-family: courier new, serif;
    margin: 0px;
    padding: 0.5px;
    grid-column-start: 1;
    grid-row-start: 1;
}

